.fileImage1,.fileImage2,.fileImage3{
    border: 10px;
    padding: 2px;
    margin: 2px;
}
.text {
    display: block;
    width: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}