ul.main-category{
	background-color: #d4a1a1;
}

ul.main-category li a{
	width: 100%;
	color: #fff;
	font-size: 15px;
	padding: 3px 0;
	line-height: 35px;
	float: left;
	text-align: center;
}
ul.sub-category{
	background-color: #1dd44c;
}


/* custom nav */
nav#menu {
	background-color: #c1bcbc;
	border-color: #ffffff;
}


/* footer */
footer#footer {
	background-color: black;
	color: white;
}
ul.bottom-menu {
	list-style-type: none;
}


/*box*/
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.col-item
{
	border: 1px solid #E1E1E1;
	border-radius: 5px;
	background: #FFF;
}
.col-item .photo img
{
	margin: 0 auto;
	width: 100%;
}

.col-item .info
{
	padding: 10px;
	border-radius: 0 0 5px 5px;
	margin-top: 1px;
}

.col-item:hover .info {
	background-color: #F5F5DC;
}
.col-item .price
{
	/*width: 50%;*/
	float: left;
	margin-top: 5px;
}

.col-item .price h5
{
	line-height: 20px;
	margin: 0;
}

.price-text-color
{
	color: #219FD1;
}

.col-item .info .rating
{
	color: #777;
}

.col-item .rating
{
	/*width: 50%;*/
	float: left;
	font-size: 17px;
	text-align: right;
	line-height: 52px;
	margin-bottom: 10px;
	height: 52px;
}

.col-item .separator
{
	border-top: 1px solid #E1E1E1;
}

.clear-left
{
	clear: left;
}

.col-item .separator p
{
	line-height: 20px;
	margin-bottom: 0;
	margin-top: 10px;
	text-align: center;
}

.col-item .separator p i
{
	margin-right: 5px;
}
.col-item .btn-add
{
	width: 50%;
	float: left;
}

.col-item .btn-add
{
	border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
	width: 50%;
	float: left;
	padding-left: 10px;
}
.controls
{
	margin-top: 20px;
}


/*scroll top*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}


/*product card view detail*/
.preview {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column; }
@media screen and (max-width: 996px) {
	.preview {
		margin-bottom: 20px; } }

.preview-pic {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1; }

.preview-thumbnail.nav-tabs {
	border: none;
	margin-top: 15px; }
.preview-thumbnail.nav-tabs li {
	width: 18%;
	margin-right: 2.5%; }
.preview-thumbnail.nav-tabs li img {
	max-width: 100%;
	display: block; }
.preview-thumbnail.nav-tabs li a {
	padding: 0;
	margin: 0; }
.preview-thumbnail.nav-tabs li:last-of-type {
	margin-right: 0; }

.tab-content {
	overflow: hidden; }
.tab-content img {
	width: 100%;
	-webkit-animation-name: opacity;
	animation-name: opacity;
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
}

@media screen and (min-width: 997px) {
	.wrapper {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}

.details {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.colors {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.product-title, .price, .sizes, .colors {
	text-transform: UPPERCASE;
	font-weight: bold;
}

.checked, .price span {
	color: #ff9f1a;
}

.product-title, .rating, .product-description, .price, .vote, .sizes {
	margin-bottom: 15px;
}

.product-title {
	margin-top: 0;
}

.size {
	margin-right: 10px; }
.size:first-of-type {
	margin-left: 40px; }

.color {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	height: 2em;
	width: 2em;
	border-radius: 2px; }
.color:first-of-type {
	margin-left: 20px; }

.add-to-cart, .like {
	background: #ff9f1a;
	padding: 1.2em 1.5em;
	border: none;
	text-transform: UPPERCASE;
	font-weight: bold;
	color: #fff;
	-webkit-transition: background .3s ease;
	transition: background .3s ease; }
.add-to-cart:hover, .like:hover {
	background: #b36800;
	color: #fff; }

.not-available {
	text-align: center;
	line-height: 2em; }
.not-available:before {
	font-family: fontawesome;
	content: "\f00d";
	color: #fff; }

.orange {
	background: #ff9f1a; }

.green {
	background: #85ad00; }

.blue {
	background: #0076ad; }

@-webkit-keyframes opacity {
	0% {
		opacity: 0;
		-webkit-transform: scale(3);
		transform: scale(3); }
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1); } }

@keyframes opacity {
	0% {
		opacity: 0;
		-webkit-transform: scale(3);
		transform: scale(3);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

/*logo*/
img.img-responsive.logo {
	width: 100px;
	height: 100px;
}


.text {
	display: block;
	width: 260px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.cart {
	margin-top: 6px;
}


/**
	MENU
 */

span.menu-item {
	color: white;
}
li.menu:hover {
	background-color: red;
}

#MenuItem :hover {
	background-color: red;
}